.custom-christmas-checkout-message-parent {
    display: inline-block;
    width: 28%;
    margin-top: 45px;
    margin-right: 23%
}

.custom-christmas-checkout-message {
    display: flex;
    font-family: "Founders Grotesk", sans-serif, -apple-system;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    color: rgb(66, 66, 66);
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
}

.custom-christmas-checkout-message img {
    display: inline-block;
    color: transparent;
    transition: opacity 200ms ease 0s;
    width: 10%;
    height: 20%;
    margin-top: 8px;
}

.custom-christmas-checkout-message p {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
}

[data-test="continue-shopping"] {
    margin: 50px 10% 0 0;
}

@media only screen and (max-width: 1020px) {
    .custom-christmas-checkout-message-parent {
        width: 75%;
        display: inline-block;
        position: relative;
        /* top: 75px; */
    }
    .custom-christmas-checkout-message img {
        width: 6%;
        margin: 0;
    }
    .custom-christmas-checkout-message p {
        margin-top: 1%;
    }
    [data-test="continue-shopping"] {
        margin: 0;
        position: relative;
        bottom: 30px;
        right: 295px;
    }
    [data-test="checkout-button"] {
        position: relative;
        bottom: 95px;
        left: 60%;
    }
}

@media only screen and (max-width: 767px) {
    .custom-christmas-checkout-message-parent {
        display: inline-block;
        margin-right: 270px;
        height: 15px;
    }
    .custom-christmas-checkout-message {
        display: flex;
        font-family: "Founders Grotesk", sans-serif, -apple-system;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.5;
        color: rgb(66, 66, 66);
        margin-bottom: 0px;
        text-align: left;
        width: 100%;
        position: relative;
        bottom: 40px;
    }
    .custom-christmas-checkout-message img {
        display: inline-block;
        color: transparent;
        transition: opacity 200ms ease 0s;
        width: 10%;
        height: 20%;
        margin-top: 8px;
    }
    .custom-christmas-checkout-message p {
        display: inline-block;
        text-decoration: none;
        margin-left: 10px;
    }
    [data-test="continue-shopping"] {
        margin: 50px 10% 0 0;
    }
    .custom-christmas-checkout-message-parent {
        width: 100%;
        position: initial;
        height: 15px;
    }
    .custom-christmas-checkout-message img {
        width: 10%;
        margin-top: 10px;
    }
    .custom-christmas-checkout-message p {
        margin-top: 1%;
        color: rgb(66, 66, 66);
        font-family: "Founders Grotesk", sans-serif, -apple-system;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.47;
        letter-spacing: 0px;
        margin-left: 1rem;
        text-align: left;
    }
    [data-test="continue-shopping"] {
        position: relative;
        right: -10px;
    }
    [data-test="checkout-button"] {
        position: relative;
        left: 0;
        bottom: 0px
    }
}