.custom-christmas-wrapup-block {
    margin: 70px 0;
    margin-bottom: 90px;
}

.custom-christmas-wrapup-block h2 {
    text-align: center;
    padding: 30px 0;
    padding-bottom: 35px;
    font-family: Miller Banner, serif;
    font-weight: 300;
}

.custom-christmas-wrapup-block .custom-christmas-nuggets .custom-nugget h2 {
    text-align: left;
    font-family: Miller Banner, serif;
    font-size: 2.6rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.23;
    color: #0f0f0f;
    margin-bottom: 2.5rem;
    text-decoration: none;
}

.custom-christmas-nuggets {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.custom-nugget {
    width: 25%;
}

.custom-nugget a.custom-no-underline {
    text-decoration: none;
}

.custom-nugget:nth-child(2),
.custom-nugget:nth-child(4) {
    width: 0%;
    border-right: 0.1rem solid rgba(216, 216, 216, 0.5);
}

@media only screen and (max-width: 600px) {
    .custom-christmas-wrapup-block {
        margin: 0px;
        margin-bottom: 40px;
    }
    .custom-nugget:nth-child(2),
    .custom-nugget:nth-child(4) {
        width: 0%;
        border-right: 0rem solid rgba(216, 216, 216, 0.5);
    }
    .custom-nugget {
        width: 80%;
    }
}